<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.norman.opengl">

    <application>
        <activity android:name=".OpenGLActivity">
        </activity>
        <activity android:name=".OpenglMainActivity">
        </activity>
    </application>

</manifest>