<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.norman.audio">

    <application>
        <activity
                android:name=".AdRecordActivity"
                android:label="@string/title_activity_ad_audio_record"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".AdMainActivity">
        </activity>
    </application>

</manifest>