<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.norman.video">

    <application>
        <activity
                android:name=".MediaRecorderActivity"
                android:label="@string/title_activity_media_recode"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".VideoViewActivity">
        </activity>
        <activity android:name=".MediaPlayerActivity">
        </activity>
        <activity android:name=".VideoCodecActivity">
        </activity>
        <activity android:name=".MuxerActivity">
        </activity>
        <activity android:name=".VideoMainActivity">
        </activity>
    </application>

</manifest>